@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Indie+Flower&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Syne:wght@400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #c7cc65;
  --color-secondary: #513a28;
  --color-tertiary: #c9b99b;
  --color-accent: #c79574;
  --color-bg: #f1f4e3;
  --color-bg-green: #c8c7a8;
  --color-text: #696b60;
  --color-text2: #5d3a24;
  --color-brown: #844f2d;
  --color-form-field: #cbab96;

  --font-lobster2: "Lobster Two", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  h1,
  h2 {
    font-family: var(--font-lobster2);
    @apply font-medium;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  a {
    @apply origin-left transition-transform duration-200 hover:scale-105;
  }

  section {
    @apply flex w-full flex-col pt-8;

    img {
      @apply h-auto w-full;
    }
  }

  select {
    @apply border border-brown px-1 py-2 text-xl focus:outline-none;
  }

  form {
    @apply w-full;

    input,
    button[type="submit"] {
      @apply col-span-2 w-full border-2 border-brown bg-form-field px-2 py-1 text-xl font-medium text-accent;
      background-color: var(--color-form-field);
    }

    input[type="checkbox"] {
      @apply aspect-square w-fit;
    }

    label {
      @apply w-fit text-accent;
    }
  }

  footer a {
    @apply text-sm;
  }
}
