@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Indie+Flower&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Syne:wght@400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #c7cc65;
  --color-secondary: #513a28;
  --color-tertiary: #c9b99b;
  --color-accent: #c79574;
  --color-bg: #f1f4e3;
  --color-bg-green: #c8c7a8;
  --color-text: #696b60;
  --color-text2: #5d3a24;
  --color-brown: #844f2d;
  --color-form-field: #cbab96;

  --font-lobster2: "Lobster Two", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  h1,
  h2 {
    font-family: var(--font-lobster2);
    @apply font-medium;
  }

  h1 {
    @apply origin-[50%_25%] text-7xl transition duration-300 text-shadow-lg text-shadow-secondary hover:scale-110;
  }

  h2 {
    @apply w-fit origin-left cursor-default text-5xl transition duration-300 hover:scale-105;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-xl;
  }

  footer h5 {
    @apply origin-left cursor-default text-lg transition-transform duration-200 hover:scale-[1.03];
  }

  a {
    @apply origin-left transition-transform duration-150 hover:scale-105;
  }

  section {
    @apply flex w-full flex-col pt-8;

    img {
      @apply h-auto w-full;
    }
  }

  select {
    @apply border border-brown px-1 py-2 text-xl focus:outline-none;
  }

  form {
    @apply w-full;

    input,
    button[type="submit"] {
      @apply col-span-2 w-full border-2 border-brown bg-form-field px-2 py-1 text-xl font-medium text-accent transition-all duration-300;
      background-color: var(--color-form-field);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      @apply focus:ring-1 focus:ring-brown focus:outline-none;
    }

    input:is([type="text"], [type="email"], [type="tel"]):is(
        :hover,
        :focus,
        :not(:placeholder-shown)
      ) {
      @apply text-brown;
    }

    button[type="submit"] {
      @apply cursor-pointer hover:scale-[1.025] hover:border-accent hover:bg-brown hover:text-accent focus:bg-brown focus:text-bg;
    }

    input[type="checkbox"] {
      @apply aspect-square w-fit cursor-pointer;
    }

    label {
      @apply w-fit text-accent;
    }
  }

  footer a {
    @apply text-sm;
  }
}
